section.see-what
    .container 
        .see-what__content 
            h2.see-what__title See what magic our community is creating
            p.see-what__text Explore these examples of Series, created by our Superpeers, and reserve your spot today
        .see-what__example-wrap
            mixin example(img, title, author, text, date)
                .example 
                    img(src=img, alt=title).example__img
                    .example__title=title
                    .example__author=author
                    .example__text=text 
                    .example__registration
                        span.example__start Starts 
                        span.example__date=date 
                        button.example__btn ENROLL
            +example('./assets/imgs/example1.png', 'Masterclass on Fundraising Strategies', 'Dawn Dickson', 'Entry-level strategies from an expert in entrepreneurship, business development and fundraising. The first female founder to raise $1M> in an equity crowdfunding campaign will teach you the best in investment, crowdfunding and overall fundraising strategies to capitalize your business at every level.','September 9, 2021')
            +example('./assets/imgs/example2.png', 'Find Your True Love, your TwinFlame®', 'Alice Johnson', "I'm an 8th-generation psychic, and together we'll discover how your aura operates and the magic you have within to facilitate self-love and romantic love. If you’re looking for your Twinflame®, your true love, or you’re ready to find yourself, this is the course for you.", 'July 26, 2021')
            +example('./assets/imgs/example3.png', 'Self-Hypnosis and HypnoTherapy Adventures', 'Jason Akel', 'Stop being so critical of yourself and overanalyzing everything. Discover the power of hypnosis and hypnotherapy: you could be living a more confident, free-thinking life. For first-timers and experienced meditators – relax, learn and get motivated.', 'July 24, 2021')
            +example('./assets/imgs/example4.png', 'Pitch Deck Examples & How to Class', 'Jose Caya', 'We’ve looked at thousands of investor pitch decks, so we know what a good one looks like. Learn how to tell your company story in a way that excites investors. See what the pros in the game did – AirBnb and Uber – and get set up to pitch a homerun.', 'August 6, 2021')
            +example('./assets/imgs/example5.png', 'Public Speaking', 'Armagan Amcalar', "You should be giving a talk this year: Discover the super-hero speaker in you from someone who has been doing it for 20 years. An interactive workshop where you'll create your own conference speech and master how to speak confidently to an audience.", 'August 23, 2021')

            +example('./assets/imgs/example6.png', 'Paid Marketing', 'Thomas Hopkins', "Over the past 7 years I've unlocked company growth potential for brands like Lyft and Masterclass – after this series, you will too. Discover what makes a successful paid marketing campaign and how to scale a revenue-generating system.", 'August 6, 2021')
            +example('./assets/imgs/example7.png', 'Fiction Writing For Absolute Beginners: How To Publish Your First Story', 'Mark Wahlbeck', 'Writing can be hard! Publishing can be even harder! In this Series not only will you learn how to write good fiction, you’ll also learn how to publish your writing.', 'August 2, 2021')
            +example('./assets/imgs/example8.png', 'Movement Building', 'Tristan Pollock', "Calling all startup founders, entrepreneurs, execs, and business leaders. Learn to build communities, make a pitch deck and create a movement around a company mission. Global impact-driven movements have all started somewhere, and today it's here", 'July 28, 2021')
            +example('./assets/imgs/example9.png', 'Starting your Business', 'Devrim Yasar', 'Got an idea for a start-up, want to raise money or start a business? These interactive lessons will let you take the stage and pitch your idea. Join me on Superpeer to learn about mentorship, investors, cofounders, fundraising and telling your story.', 'August 29, 2021')
            +example('./assets/imgs/example10.png', 'You can’t Entrepreneur without PM', 'Jasmine Lawrence', 'Get insight into the life and career lessons learned from being a CEO and product manager. Learn about entrepreneurship: doing the big pitch, falling in love with the problem, and when to side hustle. Strategize and execute your big idea.', 'August 25, 2021')

            